apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  labels:
    app: radarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
      annotations:
        homelab.dev/rollout-nonce: "2025-11-04-01"
    spec:
      containers:
        - name: radarr
          image: linuxserver/radarr:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 7878
          env:
            - name: PUID
              valueFrom:
                configMapKeyRef:
                  name: radarr-config
                  key: PUID
            - name: PGID
              valueFrom:
                configMapKeyRef:
                  name: radarr-config
                  key: PGID
            - name: TZ
              valueFrom:
                configMapKeyRef:
                  name: radarr-config
                  key: TZ
          volumeMounts:
            - name: config
              mountPath: /config
            - name: plex-media
              mountPath: /media
      volumes:
        - name: plex-media
          hostPath:
            path: /mnt/gdrive/Videos
            type: Directory
        - name: config
          persistentVolumeClaim:
            claimName: radarr-config

