apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: plex
  name: plex
spec:
  selector:
    matchLabels:
      app: plex
  template:
    metadata:
      labels:
        app: plex
    spec:
      containers:
      - name: plex
        image: ghcr.io/linuxserver/plex:latest
        env:
          - name: PUID
            valueFrom:
              configMapKeyRef:
                name: plex-configmap
                key: PUID
          - name: PGID
            valueFrom:
              configMapKeyRef:
                name: plex-configmap
                key: PGID
          - name: TZ
            valueFrom:
              configMapKeyRef:
                name: plex-configmap
                key: TZ
          - name: VERSION
            valueFrom:
              configMapKeyRef:
                name: plex-configmap
                key: VERSION
          - name: ADVERTISE_IP
            valueFrom:
              configMapKeyRef:
                name: plex-configmap
                key: ADVERTISE_IP
        volumeMounts:
          - name: plex-volume
            mountPath: /media
          - name: plex-config
            mountPath: /config
          - name: dri-device
            mountPath: /dev/dri
        securityContext:
          privileged: true
        ports:
        - containerPort: 32400
      volumes:
       - name: plex-volume
         hostPath:
          path: /mnt/gdrive/Videos
          type: Directory
       - name: dri-device
         hostPath:
          path: /dev/dri
          type: Directory     
       - name: plex-config
         hostPath:
          path: /srv/plex/config
          type: DirectoryOrCreate

---
apiVersion: v1
kind: Service
metadata:
  name: plex
spec:
  type: NodePort
  externalTrafficPolicy: Local
  selector:
    app: plex
  ports:
    - protocol: TCP
      port: 32400
      targetPort: 32400
      nodePort: 32400
