apiVersion: apps/v1
kind: Deployment
metadata:
  name: gluetun
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gluetun
  template:
    metadata:
      labels:
        app: gluetun
    spec:
      volumes:
        - name: dev-net-tun
          hostPath:
            path: /dev/net/tun
            type: CharDevice
      containers:
        - name: gluetun
          image: ghcr.io/qdm12/gluetun
          securityContext:
            capabilities:
              add: ["NET_ADMIN"]
          env:
            - name: TZ
              value: Europe/London
            - name: VPN_SERVICE_PROVIDER
              value: nordvpn
            - name: VPN_TYPE
              value: openvpn
            - name: HTTPPROXY
              value: "on"
            - name: VPN_PORT_FORWARDING
              value: "off"
            - name: HEALTH_VPN
              value: "on"
          envFrom:
            - secretRef:
                name: vpn-secret
          ports:
            - containerPort: 8888
              name: proxy
          volumeMounts:
            - name: dev-net-tun
              mountPath: /dev/net/tun
