apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  labels:
    app: prowlarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
  template:
    metadata:
      labels:
        app: prowlarr
      annotations:
        homelab.dev/rollout-nonce: "2025-11-04-01"
    spec:
      containers:
        - name: prowlarr
          image: linuxserver/prowlarr:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 9696
          env:
            - name: PUID
              valueFrom:
                configMapKeyRef:
                  name: prowlarr-config
                  key: PUID
            - name: PGID
              valueFrom:
                configMapKeyRef:
                  name: prowlarr-config
                  key: PGID
            - name: TZ
              valueFrom:
                configMapKeyRef:
                  name: prowlarr-config
                  key: TZ
          volumeMounts:
            - name: config
              mountPath: /config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: prowlarr-config

